@import url('https://fonts.googleapis.com/css?family=Merriweather:300');
body{
	padding: 0;
	margin: 0;
}
.grid-wrapper{
	display: grid;
	grid-template-columns: 3fr 1fr;
	height: 100vh;
	grid-gap: 10px;
}
.description{
	grid-column-start: 1;
	grid-column-end: 2;
	max-height: 300px;
	.square{
		height: 400px;
		width: 400px;
		display: inline-flex;
	}
	img{
		display: block !important;
		margin: auto !important;

	}

}
.birds{
	font-family: 'Merriweather', serif;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row: 1/3;
	overflow-y: scroll; 
	a{
		text-decoration: none;
		color: black;
		letter-spacing: 2px;
		padding: 3px;
	}
}
.map{
	grid-column: 1/2;
	grid-row: 2/3;
}